---
import Layout from "../layouts/Layout.astro";
import projects from "../data/projects.json";
import Card from "../components/Card.astro";
---

<Layout
  title="Projects by John Doe"
  description="Lorem ipsum dolor sit amet, consecte"
  keywords="some keywords here"
  image="/blog.png"
>
  <section>
    <div class="container">
      <div class="content">
        <h1>Some selected projects I've worked on previously</h1>

        {
          projects.map((project) => (
            <section id={project.section}>
              <h2>{project.section} </h2>
              {project.projects.map((project) => (
                <Card
                  href={project.link}
                  title={project.name}
                  description={project.description}
                  tags={project.technologies}
                />
              ))}
            </section>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
