---
import Layout from "../layouts/Layout.astro";
import data from "../data/talks.json";
---

<Layout
  title="Talks, Conferences and events Trust Jamin has spoken at"
  description="Explore talks and events crafted by Trust Jamin"
  keywords="talks by Trust Jamin, Jamin's speaking opportunitie, Events featuring Trust Jamin,web development, serverless technologies, Gatsby, DevOps,developer perspectives,TypeScript and Nodejs, software engineering insights."
  image="/blog.png"
>
  <section>
    <div class="container">
      <div class="content">
        <h1>Here are some talks and conferences I've spoken at</h1>
        {
          data.map((talk) => (
            <div class="talk">
              <h2>{talk.title} </h2>

              <div class="talk-details">
                <span class="conf">
                  <a
                    href={talk.confLink}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {talk.confName}
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z" fill="currentColor"></path></svg>
                  </a>
                </span>
                <span>
                  <a
                    href={talk.slide}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    slide
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z" fill="currentColor"></path></svg>
                  </a>
                </span>
              </div>
              <p class="small">{talk.date}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  .talk {
    padding: 10px 0;
    margin: 5px 0;
  }

  .conf  a{
    /* border: none; */
    margin-right: 50px;
  }
  h2 {
    font-size: 1.7rem;
    font-weight: 500;
  }
  p {
    padding: 0.3rem 0;
    line-height: 1.8;
  }
  .small {
    font-size: 1.4rem;
  }
  svg {
    margin-left: 5px;
  }
</style>
